header {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 1340px;
}

body {
  width: 1440px;
  margin: auto;
  font-family: Raleway;
  font-weight: bold;
}
#container {
  margin: 0 50px;
}

/************  Navigation  ************/
nav ul {
  width: 436px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 800px;
  padding-top: 35px;
}
nav a {
  color: black;
  text-decoration: none;
}
.inscription {
  color: #0065fc;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 30px;
}

/************  Ville & Filtres  ************/
.local {
  position: relative;
  top: 1px;
  left: 4px;
  width: 52px;
  max-height: 51px;
  text-align: center;
  color: black;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 16px;
}
#search_button {
  position: relative;
  left: 257px;
  width: 134px;
  height: 51px;
  background-color: #0065fc;
  color: white;
  border-radius: 0px 15px 15px 0px;
}
#search_line {
  position: absolute;
  width: 234px;
  height: 45px;
  font-size: 1.1em;
  font-family: Raleway;
  font-weight: bold;
  padding-left: 17px;
}
.filtres ul {
  width: 70%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filtres_titre {
  padding-top: 16px;
}
.filters_list {
  height: 46px;
  padding-right: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filtres li:hover,
.filtres a:hover {
  color: white;
  background-color: #0065fc;
}
.filtres a {
  color: black;
  text-decoration: none;
}
.ico_filtres {
  color: #0065fc;
  transform: scale(1.25);
  margin-right: 12px;
  margin-left: 3px;
  padding: 9.5px;
  border-radius: 23px;
  background-color: #deebff;
}
.ico_filtres_f {
  color: #0065fc;
  transform: scale(1.25);
  margin-right: 12px;
  margin-left: 3px;
  padding: 9.5px 13px;
  border-radius: 23px;
  background-color: #deebff;
}

/************  Hébergements  ************/

#places {
  display: flex;
  flex-direction: row;
}
#hebergements {
  width: 880px;
  height: 606px;
  padding-top: 10px;
  padding-left: 40px;
  background-color: #f2f2f2;
  border-radius: 16px;
  margin-right: 40px;
}
#hebergements img {
  width: 236px;
  height: 104px;
  border-radius: 16px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#pos_h {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
#pos_h article {
  width: 236px;
  height: 189px;
  padding: 5px;
  background-color: white;
  border-radius: 16px;
}
#pos_h p {
  margin-top: 0;
  padding-left: 12px;
  padding-top: 13px;
}
#pos_h a {
  color: black;
  text-decoration: none;
}
.prix {
  font-size: 0.7em;
}
.info {
  color: blue;
  padding: 2px 8px;
  border-radius: 24px;
}

/************  Populaires  ************/

#populaires {
  width: 420px;
  height: 606px;
  padding-top: 10px;
  padding-left: 43px;
  background-color: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.graph {
  margin-left: 98px;
}
#populaires img {
  width: 127px;
  height: 134px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
#pos_p {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 33px;
}
#pos_p article {
  width: 333px;
  height: 134px;
  padding: 5px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
}
#pos_p p {
  padding-left: 20px;
  padding-right: 40px;
}
#pos_p a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.bluestar {
  color: #0065fc;
}
.greystar {
  color: #d9d9d9;
}

/************  Activités  ************/

#act {
  width: 1290px;
  height: 600px;
  border-radius: 16px;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 50px;
}
#activites {
  width: 1340px;
  height: 500px;
  margin-left: -50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 225px);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
#activites article {
  width: 300px;
}
#activites img {
  margin-bottom: -4px;
  border-radius: 16px 16px 0 0;
  box-shadow: 5px 5px #f3f3f3a1;
}
#activites a {
  color: black;
  text-decoration: none;
}
#activites h3 {
  width: 280px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
#port {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
#port img,
#calanques img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}
#fort {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
#fort img {
  width: 300px;
  height: 195px;
  object-fit: cover;
}
#iles {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
#iles img {
  width: 300px;
  height: 170px;
  margin-top: 13px;
  object-fit: cover;
}
#calanques {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#notre_dame img,
#longchamp img {
  width: 300px;
  height: 182px;
  object-fit: cover;
}
#notre_dame {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
#longchamp {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

/************  Footer  ************/

footer ul {
  list-style-type: none;
}
footer a {
  color: black;
  text-decoration: none;
  margin-right: 230px;
}
footer {
  width: 1440px;
  background-color: #f2f2f2;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
footer li {
  padding-top: 13px;
}
footer h2 {
  padding-left: 40px;
}
/************  Média Queries  ************/

/***  IPhone 8  ***/
@media (max-width: 375px) {
  body {
    width: 100%;
    margin: auto;
    font-family: Raleway;
    font-weight: bold;
    font-size: 95%;
  }
  #container {
    margin: 0 20px;
  }

  .filtres ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #places {
    width: 374px;
    display: flex;
    flex-direction: column-reverse;
  }

  /************  Activités  ************/

  #act {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 60px;
    padding-top: 10px;
    padding-left: 50px;
  }
  #activites {
    width: 1340px;
    height: 500px;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #activites article {
    width: 300px;
  }
  #activites img {
    width: 334px;
    height: 190px;
    margin-bottom: -4px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    box-shadow: 5px 5px #f3f3f3a1;
  }
  #activites a {
    color: black;
    text-decoration: none;
  }
  #activites h3 {
    width: 280px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    background-color: white;
    border-radius: 0 0 16px 16px;
  }

  footer {
    width: 1440px;
    background-color: #f2f2f2;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/***  IPad  ***/
@media (min-width: 376px) and (max-width: 768px) {
  body {
    background-color: rgb(28, 230, 62);
  }
}
