header {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 1340px;
}

body {
  width: 1440px;
  margin: auto;
  font-family: Raleway;
  font-weight: bold;
}
#container {
  margin: 0 50px;
}

/************  Navigation  ************/
nav ul {
  width: 436px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 800px;
  padding-top: 35px;
}
nav .heberg,
nav .act {
  color: black;
}
nav a {
  text-decoration: none;
}
nav a:visited {
  color: black;
}

.inscription a {
  color: #0065fc;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 30px;
}

/************  Ville & Filtres  ************/
#search_band {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.local {
  width: 52px;
  max-height: 51px;
  text-align: center;
  color: black;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 16px;
}
#search_button {
  width: 130px;
  height: 51px;
  background-color: #0065fc;
  color: white;
  border: 1px solid #f2f2f2;
  border-radius: 0px 15px 15px 0px;
}
#search_button_glass {
  width: 21px;
  max-height: 51px;
  text-align: center;
  color: white;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  padding: 16px;
  display: none;
}

#search_line {
  height: 45px;
  font-size: 1.1em;
  font-family: Raleway;
  font-weight: bold;
  padding-left: 17px;
  border: 1px solid #f2f2f2;
  border-right: none;
  border-left: none;
}
.filtres {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filtres h3 {
  padding-top: 10px;
}
.filtres ul {
  width: 85%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filters_list {
  height: 46px;
  padding-right: 20px;
  border: 2px solid #d9d9d9;
  border-radius: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filtres li:hover {
  background-color: #0065fc;
}
.filtres li:hover a {
  color: white;
}

.filtres a {
  color: black;
  text-decoration: none;
}
.ico_filtres {
  color: #0065fc;
  transform: scale(1.25);
  margin-right: 12px;
  margin-left: 3px;
  padding: 9.5px;
  border-radius: 23px;
  background-color: #deebff;
}
.ico_filtres_f {
  color: #0065fc;
  transform: scale(1.25);
  margin-right: 12px;
  margin-left: 3px;
  padding: 9.5px 13px;
  border-radius: 23px;
  background-color: #deebff;
}
#info {
  font-weight: initial;
  display: flex;
}
/************  Hébergements  ************/

#places {
  display: flex;
  flex-direction: row;
}
.prix {
  font-size: 0.8em;
  font-weight: initial;
  padding: 7px 0 7px 12px;
}
article p {
  margin: 0;
  padding-left: 12px;
}
#hebergements {
  width: 880px;
  height: 606px;
  padding-top: 10px;
  padding-left: 40px;
  background-color: #f2f2f2;
  border-radius: 16px;
  margin-right: 40px;
}
#hebergements img {
  width: 236px;
  height: 104px;
  border-radius: 16px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#pos_h {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
#pos_h article {
  width: 236px;
  height: 189px;
  padding: 5px;
  background-color: white;
  border-radius: 16px;
}
#pos_h h3 {
  font-size: 1em;
  margin: 0;
  padding-left: 12px;
  padding-top: 13px;
}
#pos_h a {
  color: black;
  text-decoration: none;
}
.info {
  color: #0065fc;
  padding: 8px 14px;
  border: 1px solid grey;
  border-radius: 24px;
  margin-right: 10px;
  transform: scale(0.75);
}

/************  Populaires  ************/

#populaires {
  width: 420px;
  height: 606px;
  padding-top: 10px;
  padding-left: 43px;
  background-color: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.graph {
  margin-left: 98px;
}
#populaires img {
  width: 127px;
  height: 134px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.pop {
  display: flex;
  flex-direction: column;
}
.pop p {
  padding-top: 5px;
  padding-bottom: 25px;
}

#pos_p {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 33px;
}
#pos_p article {
  width: 333px;
  height: 134px;
  padding: 5px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
}
#pos_p a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
#pos_p h3 {
  padding-left: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}

.bluestar {
  color: #0065fc;
}
.greystar {
  color: #d9d9d9;
}

/************  Activités  ************/

#act {
  width: 1290px;
  height: 600px;
  border-radius: 16px;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 50px;
}
#activites {
  width: 1340px;
  height: 500px;
  margin-left: -50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 225px);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
#activites article {
  width: 300px;
  box-shadow: 5px 5px #f2f2f2;
  border-radius: 16px;
}
#activites img {
  margin-bottom: -4px;
  border-radius: 16px 16px 0 0;
}
#activites a {
  color: black;
  text-decoration: none;
}
#activites h3 {
  width: 280px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
#port {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
#port img,
#calanques img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}
#fort {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
#fort img {
  width: 300px;
  height: 195px;
  object-fit: cover;
}
#iles {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
#iles img {
  width: 300px;
  height: 170px;
  margin-top: 13px;
  object-fit: cover;
}
#calanques {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#notre_dame img,
#longchamp img {
  width: 300px;
  height: 182px;
  object-fit: cover;
}
#notre_dame {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
#longchamp {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

/************  Footer  ************/

footer ul {
  list-style-type: none;
}
footer a {
  font-weight: initial;
  color: black;
  text-decoration: none;
  margin-right: 230px;
}
footer {
  width: 1440px;
  background-color: #f2f2f2;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
footer li {
  padding-top: 13px;
}
footer h2 {
  padding-left: 40px;
}
/************  Média Queries  ************/

/***  IPhone 8  ***/
@media (min-width: 320px) and (max-width: 375px) {
  body {
    width: 100%;
  }
  #container {
    margin: 0 20px;
  }

  header {
    width: 100%;
    margin: 5%;
    margin-left: 0;
    display: grid;
  }

  /************  Navigation  ************/

  nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin-left: -60px;
    margin-top: -10px;
    display: grid;
    position: absolute;
    top: 0px;
    left: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 40px;
    grid-row-gap: 10px;
  }
  .heberg {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-top: 10px;
    font-weight: initial;
  }
  .act {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-top: 10px;
    font-weight: initial;
  }
  .inscription {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 10px;
  }

  nav a:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }

  /************  Ville & Filtres  ************/
  section {
    margin-top: 70px;
  }
  .local {
    width: 22px;
  }

  #search_band {
    max-width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #search_button {
    display: none;
  }
  #search_button_glass {
    width: 21px;
    display: initial;
  }

  #search_line {
    max-width: 85%;
    height: 47px;
    font-size: 1.1em;
    font-family: Raleway;
    font-weight: bold;
    padding-left: 17px;
  }
  .filtres {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .filtres ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -40px;
  }
  .filters_list {
    margin-right: 12px;
    margin-top: 10px;
  }

  /************  Hébergements  ************/

  #places {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  #hebergements {
    width: 320px;
    height: auto;
    background-color: white;
    border-radius: 16px;
    margin-top: 20px;
    padding-left: 0;
  }
  #hebergements img {
    width: 320px;
  }
  #pos_h {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #pos_h article {
    width: 320px;
    height: 189px;
    box-shadow: 5px 5px #f5f5f5;
  }

  /************  Populaires  ************/

  #populaires {
    width: 335px;
    height: 606px;
    padding: 20px;
    margin-left: -20px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .graph {
    margin-left: 55px;
  }
  #populaires img {
    width: 127px;
  }
  #pos_p article {
    width: 290px;
  }
  #pos_p h3 {
    font-size: 1em;
    padding-left: 20px;
    padding-right: 0px;
  }

  /************  Activités  ************/

  #act {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 50px;
  }
  #activites {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #activites article {
    width: 100%;
  }

  #activites img {
    width: 100%;
    height: 190px;
  }
  #activites h3 {
    width: 315px;
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  footer a {
    font-weight: initial;
    margin-right: 0px;
  }
}

/***  IPad  ***/
@media (min-width: 376px) and (max-width: 768px) {
  header {
    width: auto;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body {
    width: 100%;
  }
  #container {
    margin: 20px;
  }
  /************  Navigation  ************/
  nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 35px;
  }
  nav .heberg,
  nav .act {
    font-weight: initial;
  }
  nav a:hover {
    font-weight: bold;
    font-style: italic;
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 10px;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 10px;
  }
  /************  Ville & Filtres  ************/
  #search_band {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #search_line {
    width: 100%;
    height: 45px;
    font-size: 1.1em;
    font-family: Raleway;
    font-weight: bold;
    padding-left: 17px;
  }
  .filtres {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .filtres h3 {
    padding-top: 10px;
  }
  .filtres ul {
    width: 80%;
    list-style-type: none;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 10%;
  }

  /************  Hébergements  ************/

  #places {
    display: flex;
    flex-direction: column-reverse;
  }
  #hebergements {
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-right: 0px;
  }
  #hebergements img {
    width: 236px;
    height: 104px;
    border-radius: 16px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  #pos_h {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  #pos_h article {
    width: 236px;
    height: 189px;
    padding: 5px;
    background-color: white;
    border-radius: 16px;
  }
  #pos_h h3 {
    font-size: 1em;
    margin-top: 0;
    padding-left: 12px;
    padding-top: 13px;
  }
  #pos_h a {
    color: black;
    text-decoration: none;
  }
  .info {
    color: blue;
    padding: 2px 8px;
    border-radius: 24px;
  }

  /************  Populaires  ************/

  #populaires {
    width: auto;
    height: auto;
  }
  .graph {
    margin-left: 98px;
  }
  #populaires img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
  }
  #pos_p {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 33px;
  }
  #pos_p article {
    width: auto;
    height: auto;
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
  }
  #pos_p a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #pos_p h3 {
    padding-left: 20px;
  }

  .bluestar {
    color: #0065fc;
  }
  .greystar {
    color: #d9d9d9;
  }

  /************  Activités  ************/

  #act {
    width: auto;
    height: auto;
    border-radius: 16px;
    margin-top: 60px;
    padding-top: 10px;
    padding-left: 50px;
  }
  #activites {
    width: 100%;
    height: auto;
    margin-left: -50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 225px);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  #activites article {
    width: 300px;
    box-shadow: 5px 5px #f3f3f3a1;
  }
  #activites img {
    margin-bottom: -4px;
    border-radius: 16px 16px 0 0;
  }
  #activites a {
    color: black;
    text-decoration: none;
  }
  #activites h3 {
    width: 280px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    background-color: white;
    border-radius: 0 0 16px 16px;
  }
  #port {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #port img,
  #calanques img {
    width: 300px;
    height: 450px;
    object-fit: cover;
  }
  #fort {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  #fort img {
    width: 300px;
    height: 195px;
    object-fit: cover;
  }
  #iles {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  #iles img {
    width: 300px;
    height: 170px;
    margin-top: 13px;
    object-fit: cover;
  }
  #calanques {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #notre_dame img,
  #longchamp img {
    width: 300px;
    height: 182px;
    object-fit: cover;
  }
  #notre_dame {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  #longchamp {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  /************  Footer  ************/

  footer {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  footer a {
    font-weight: initial;
    margin-right: 0px;
  }
}
